@font-face {
    font-family: 'Monument Extended Black';
    src: url("/assets/fonts/PPMonumentExtended-Black.otf") format("opentype");
}

@font-face {
    font-family: 'Monument Extended Light';
    font-weight: bold;
    src: url("/assets/fonts/PPMonumentExtended-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Monument Extended';
    font-weight: bold;
    src: url("/assets/fonts/PPMonumentExtended-Regular.otf") format("opentype");
}


:root {
    --bg-color: #ffffff;
    --main-text-color: #0505af;
    --fade-text-color: #1a1a1a;
    --main-ripple-color: #bd8904;
    --saturate: 1.5;
    --base-font-size: 1.25vw;
    --text-font: "Swiss", serif;
    --display-font: "Monument Extended Black", Arial, sans-serif;
    --light-display-font: "Monument Extended Light", Arial, sans-serif;
    --regular-font: "Monument Extended", Arial, sans-serif;
     --height-space: 20vh
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
    color: var(--main-text-color);
}
*::selection {
    color: var(--bg-color);
    background: var(--main-text-color);
    opacity: 1!important
}

*::-moz-selection {
    color: var(--bg-color);
    background: var(--main-text-color);
    opacity: 1!important
}

a {
    color: var(--main-text-color);
    text-decoration: none
}
h1,h2,h3,h4,h5,h5{
    margin: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
#header{
    padding: 15px;
}
#header nav ul li{
    display: inline-block;
    padding: 0 15px;
}
#header nav ul li a{
    font-size: 14px;
    line-height: 40px;
}
#header #logo{
    position: relative;
    height: 30px;
    overflow: hidden;
    width: 210px;
}
#header h1{
    font-size: 20px;
    line-height: 30px;
    font-family: var(--display-font);
    font-weight: bold;
    color: var(--main-text-color);
    text-transform: uppercase;
    position: relative;
}
.section--hero__text h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--display-font);
    line-height: .85;
    font-weight: normal;
    font-size: 6.25em;
    text-transform: uppercase;
    color: var(--main-text-color);
    padding: 7vw 0vw 7vw 0vw;
    overflow: hidden;
    height: 370px;
}

#intro-desc {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 calc(var(--height-space) * .25) calc(100% * 6 / 12);
    width: calc(100% * 5 / 12);
    line-height: 1.2;
}
#intro-work-fields {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 0 calc(100% * 6 / 12);
    width: calc(100% * 5 / 12);
    line-height: 1.2;
}
.section--hero__text h2 span{
    margin-bottom: 10px;
    display: block;
    height: 85px;
    overflow: hidden;
}
.section--hero__text h2 span:first-child{
  animation: reveal1 2s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.section--hero__text h2 span:nth-child(2){
  animation: reveal2 2.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
   color: #222222;
}
.section--hero__text h2 span:nth-child(3){
  animation: reveal3 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.section--hero__text h2 span:nth-child(4){
  animation: reveal4 3.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  color: #222222;
}
@keyframes reveal1 {
  0% {
    transform: translate(0,150%);
  }
  50% {
    transform: translate(0,0);
  }
}
@keyframes reveal2 {
  0% {
    transform: translate(0,200%);
  }
  50% {
    transform: translate(0,0);
  }
}
@keyframes reveal3 {
  0% {
    transform: translate(0,250%);
  }
  50% {
    transform: translate(0,0);
  }
}
@keyframes reveal4 {
  0% {
    transform: translate(0,300%);
  }
  50% {
    transform: translate(0,0);
  }
}

.gsap_slider {
	height: 80vh;
}

.gsap__bl {
	width: 100%;
}

.gsap__inner {
	display: flex;
	width: calc(100% + var(--indent));
	flex: 0 0 auto;
	overflow: hidden;
}

.gsap__track {
	display: flex;
	flex: 0 0 auto;
	will-change: transform;
	transition: 3.5s cubic-bezier(.075, 1, .25, 1);
}

.gsap__item {
	flex: 0 0 auto;
	width: 800px;
	height: 100%;
	background: #000;
	will-change: transform;
	overflow: hidden;
}

.gsap__item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gsap__item+.gsap__item {
	margin-left: 30px;
}

.gsap_slider .content,
.gsap_h,
.gsap__bl,
.gsap__inner,
.gsap__item {
	height: 100%;
}
.section-portfolio h3,.section-services h3 {
    font-family: var(--display-font);
    line-height: .85;
    font-weight: normal;
    font-size: 2.25em;
    text-transform: uppercase;
    color: var(--fade-text-color);
    margin-bottom: 30px;
}

.portfolio-text{
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  opacity: 0;
  pointer-events: none;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid var(--main-ripple-color);
  cursor: pointer;
}

.menu__item-image_wrapper {
  position: absolute;
  width: 400px;
  height: 200px;
  pointer-events: none;
  opacity: 0;
}

.menu__item-image_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menu__item-image_inner .menu__item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__item-text {
  position: relative;
  display: block;
  font-family: var(--display-font);
  font-size: 4rem;
  font-weight: 300;
  padding: 2vh 0;
  opacity: 1;
  transition: opacity 350ms ease;
  mix-blend-mode: normal;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--main-text-color);
}
.menu__item-text:hover .menu__item-innertext {
  letter-spacing: 0.425rem;
   -webkit-text-stroke-color: var(--main-text-color);

}

.menu__item-innertext {
  display: inline-block;
  transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu:hover .menu__item-text {
  opacity: 0.25;
}
.menu:hover .menu__item-text:hover {
  opacity:1;
    -webkit-text-stroke-color: var(--main-text-color);
}

.menu__item:hover .menu__item-text {
  z-index: 10;
}
.menu__item:hover .menu__item-image_wrapper {
  z-index: 2;
}
.section-services{
  overflow: hidden;
  background-color: #F2f2f2;
  padding: 70px 0px;
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.body--container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  height: 100vh;
}

.bubble--container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: var(--display-font);
  font-weight: 700;
  width: 50%;
  text-align: center;
  font-size: 40px;
  z-index: 3;
  color: var(--main-text-color);
}

.bubble {
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}

.bubble--one {
  width: 75px;
  height: 75px;
  left: 200px;
  top: 200px;
  background-color: var(--main-ripple-color);
}

.bubble--two {
  top: 500px;
  right: 200px;
  background-color: var(--main-text-color);
}

.bubble--three {
  bottom: 200px;
  left: 200px;
  background-color: #1a1a1a;
}

.bubble--large {
  z-index: 1;
  width: 500px;
  height: 500px;
  background-color: #e9e9ff;
}

@media (max-width: 1000px) {
  .text {
    width: 80%;
    font-size: 30px;
  }

  .bubble--one {
    left: 100px;
  }

  .bubble--two {
    right: 100px;
  }
  .bubble--three {
    left: 100px;
  }

  .bubble--large {
    width: 300px;
    height: 300px;
  }
}
