@font-face {
  font-family: 'Raiderfont';
  src: local('Raiderfont'), url('./fonts/Raiderfont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raiderfont';
  font-size: 12px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

.left,
.right {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left {
  background: #ffffff;
  left: 0%;
  width: 0%;
}

.right {
  background: #000000;
  right: 0%;
  width: 100%;
}

.menu-open {
  color: #fff;
}

.menu-open,
.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-container {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #dfe8e0;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.menu {
  padding: 12vh 0 24vh;
}

.menu__item-link {
  display: inline-block;
  font-size: 5vw;
  cursor: pointer;
  transition: all  0.4s ease-in-out;
  line-height: 100px;
  text-decoration: none;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
.menu__item-link:hover{
  color: #000;
}
.menu__item-img {
  position: relative;
  top: 15px;
  padding: 0 20px;
  z-index: 2;
  pointer-events: none;
  height: 10vh;
  max-height: 600px;
  opacity: 1;
  transform: scale(0);
}

.menu__item:hover > .menu__item-img {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}

@media (max-width: 900px) {
  .menu__item-link {
    font-size: 8vw;
    line-height: 70px;
  }
}


.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 180px;
}

.img-wrapper .karina {
  background-image: url('./img/karina.jpg');
  background-size: cover;
  height: 550px;
  width: 0;
}

.info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgba(0, 0, 0, .8);
  padding: 0 10px;
}

.info ul li {
  display: inline-block;
  padding: 20px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}

.info i {
  font-size: 18px;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.text h1 {
     font-size: 90px;
    font-family: 'Raiderfont';
    text-transform: uppercase;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    color: transparent;
}

.text p {
  font-size: 20px;
  color: #fff;
  font-family: monospace;
}

.name {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #b4b4b4;
}

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 20px;
  font-size: 16px;
}
.bottomnav ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 -78px;
  transform: translateY(-3px);
}

