/* body{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
img{
    margin: 30px;
} */

body {
  color:white;
  font-family: 'Kanit', sans-serif;
  background:#020202;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
#demo {
  overflow:hidden;
  position:relative;
  width:800px;
  height:410px;
  border:1px solid #333;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png);

}

#title {
  position:absolute;
  top:120px;
  left:40px;
}

#freds {
  position:absolute;
  top:250px;
  left:20px;
}

#freds img {
  width:122px;
}

#time {
  position:absolute;
  top:25px;
  right:0;
}

body {
	margin:0;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	background:#E1F5FE;
}

.banner {
	background:white;
	position:relative;
	width:300px;
	height:250px;
	border:1px solid #aaa;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top: 50px;
background-image: url("https://assets.codepen.io/32887/pexels-asad-photo-maldives-1320674.jpg");
	background-size:cover;
  margin: 50px auto;
}

.cta {
	cursor:pointer;
	position:absolute;
	bottom:10px;
	right:10px;
	border:none;
	padding:18px;
	border-radius:12px;
	background-color:#43A047;
	color:white;
	font-size:20px;
	transform:scale(0.8);
	will-change:transform;
}

h2 {
	font-weight:800;
	text-align:center;
	color:white;
	font-family:sans-serif;
	font-size:30px;
	text-shadow:1px 1px 3px #333;
}

h2 span {
	font-size:40px;
}
