/* body{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
img{
    margin: 30px;
} */

 body {
  color:white;
  font-family: 'Kanit', sans-serif;
  background:#020202;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
/*
#demo {
  overflow:hidden;
  position:relative;
  width:800px;
  height:410px;
  border:1px solid #333;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png);

}

#title {
  position:absolute;
  top:120px;
  left:40px;
}

#freds {
  position:absolute;
  top:250px;
  left:20px;
}

#freds img {
  width:122px;
}

#time {
  position:absolute;
  top:25px;
  right:0;
}

body {
	margin:0;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	background:#E1F5FE;
}

.banner {
	background:white;
	position:relative;
	width:300px;
	height:250px;
	border:1px solid #aaa;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top: 50px;
background-image: url("https://assets.codepen.io/32887/pexels-asad-photo-maldives-1320674.jpg");
	background-size:cover;
  margin: 50px auto;
}

.cta {
	cursor:pointer;
	position:absolute;
	bottom:10px;
	right:10px;
	border:none;
	padding:18px;
	border-radius:12px;
	background-color:#43A047;
	color:white;
	font-size:20px;
	transform:scale(0.8);
	will-change:transform;
}

h2 {
	font-weight:800;
	text-align:center;
	color:white;
	font-family:sans-serif;
	font-size:30px;
	text-shadow:1px 1px 3px #333;
}

h2 span {
	font-size:40px;
} */


/* #demo2 {
  position:relative;
  width:621px;
  height:385px;
  border:1px solid #333;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/creative-process-bg.png);
}

#main {
  position:absolute;
  width:250px;
  top:130px;
  left:20px;
}

h1{
  font-size:50px;
  font-weight:500;
   color: #020202;
   margin: 0;
   line-height: 50px;
}

h2{
  font-size:40px;
  font-weight:200;
  margin-top:-10px;
  color: #020202;
  margin: 0;
   line-height: 40px;
}

p {
  font-weight:200;
  margin-top:14px;
  font-size:16px;
  line-height:20px;
   color: #020202;
   margin-bottom: 0;
}

#images {
  position:absolute;
  left:375px;
  top:80px;
}

.myButton {
  margin-top:20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff905c), color-stop(1, #ef027d));
	background:-moz-linear-gradient(top, #ff905c 5%, #ef027d 100%);
	background:-webkit-linear-gradient(top, #ff905c 5%, #ef027d 100%);
	background:-o-linear-gradient(top, #ff905c 5%, #ef027d 100%);
	background:-ms-linear-gradient(top, #ff905c 5%, #ef027d 100%);
	background:linear-gradient(to bottom, #ff905c 5%, #ef027d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff905c', endColorstr='#ef027d',GradientType=0);
	background-color:#ff905c;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff905c));
	background:-moz-linear-gradient(top, #ef027d 5%, #ff905c 100%);
	background:-webkit-linear-gradient(top, #ef027d 5%, #ff905c 100%);
	background:-o-linear-gradient(top, #ef027d 5%, #ff905c 100%);
	background:-ms-linear-gradient(top, #ef027d 5%, #ff905c 100%);
	background:linear-gradient(to bottom, #ef027d 5%, #ff905c 100%);
}

.myButton:active {
	position:relative;
	
} */


/* html, body {
	width:100%;
	height:100%;
	font-family:Kanit;
	color:white;
	margin:0;
	font-size:19px;
}

body {
	display:flex;
	justify-content:center;
	background:#1d1d1d;
	overflow:hidden;
	align-items:center;
}
.wrapper {
	width:70%;
	height:100%;
	display:flex;
	align-items:center;
}



p {
	font-size:40px;
}




body {
	overflow:hidden;
	background-image:linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%))
}

.nav {
	position:fixed;
	height:50px;
	background:rgba(0, 0, 0, 0.4);
	bottom:0;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.sliderGroup {
	display:flex;
	align-items:left;
	width:300px;
	justify-content:start;
}

svg {
	opacity:0;
	position:fixed;
	bottom:50px;
	left:0;
	overflow:visible;
}

path {
	stroke-weight:3px;
	stroke:white;
	fill:none;
}

.oldClass{
	color:red;
}

.newClass {
	color:green;
	background:yellow;
}
h1{
	font-size:30px;
	font-weight:600;
}

.main {
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}
.demo {
	visibility:hidden;
	width:400px;
	height:250px;
	background:#1d1d1d;
	overflow:hidden;
}

.slime {
	width:80px;
	height:50px;
	background-image:url("https://assets.codepen.io/32887/slime.svg");
	background-size:cover;
	position:absolute;
	top:100px;
}


.buttonNav {
	padding:20px;
}

button {
	margin-right:10px;
	padding:10px;
} */
* {
	position:relative;
}


body {
  background-color:#3c3c3c;
  overflow: hidden;
  text-align:center;
	font-family:sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
	color:#ccc;
	text-align:center;
}

.main {
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}
.demo {
	visibility:hidden;
	width:400px;
	height:250px;
	background:#1d1d1d;
	overflow:hidden;
}

.slime {
	width:80px;
	height:50px;
	background-image:url("https://assets.codepen.io/32887/slime.svg");
	background-size:cover;
	position:absolute;
	/* background-color:red; */
	top:100px;
}


.buttonNav {
	padding:20px;
}

button {
	margin-right:10px;
	padding:10px;
}
